__pycache__/
associated_learning/glove.6B.100d.txt
associated_learning/glove.6B.200d.txt
associated_learning/glove.6B.300d.txt
associated_learning/glove.6B.50d.txt
associated_learning/glove.6B.zip
associated_learning/wiki-news-300d-1M.vec
associated_learning/wiki-news-300d-1M.vec.zip
*.pt
*.zip
.python-version
